<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <RollingFile name="all_logs_file" fileName="logs/all.log" filePattern="logs/all-%d{MM-dd-yyyy}-%i.log">
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <PatternLayout>
        <pattern>%d %p %c{1.} [%t] %m%n</pattern>
      </PatternLayout>
    </RollingFile>
    <RollingFile name="temperature_logger_file" fileName="logs/temperature.csv" filePattern="logs/temperature-%d{MM-dd-yyyy}-%i.csv">
      <Policies>
        <OnStartupTriggeringPolicy />
        <TimeBasedTriggeringPolicy />
      </Policies>
      <PatternLayout>
        <pattern>%d{ISO8601};%m%n</pattern>
      </PatternLayout>
    </RollingFile>

    <File name="important_logs_file" fileName="logs/important.log">
      <Filters>
        <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY"/>
      </Filters>
      <PatternLayout>
        <pattern>%d %p %c{1.} [%t] %m%n</pattern>
      </PatternLayout>
    </File>
  </Appenders>
  <Loggers>
    <Logger name="temperature_logger" level="trace" additivity="false">
      <AppenderRef ref="temperature_logger_file"/>
    </Logger>
    <Root level="info">
      <AppenderRef ref="console"/>
      <AppenderRef ref="all_logs_file"/>
      <AppenderRef ref="important_logs_file"/>
    </Root>
  </Loggers>
</Configuration>